<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">funnyboy_roks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link<%= page === 'home' ? ' active' : ''; %>" href="/">Home
                        <% if (page === 'home') { %>
                            <span class="visually-hidden">(current)</span>
                        <% } %>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link<%= page === 'about' ? ' active' : ''; %>" href="/about">About
                        <% if (page === 'about') { %>
                            <span class="visually-hidden">(current)</span>
                        <% } %>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link<%= page === 'contact' ? ' active' : ''; %>" href="/contact">Contact Me
                        <% if (page === 'contact') { %>
                            <span class="visually-hidden">(current)</span>
                        <% } %>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link<%= page === 'projects' ? ' active' : ''; %>" href="/projects">Projects
                        <% if (page === 'projects') { %>
                            <span class="visually-hidden">(current)</span>
                        <% } %>
                    </a>
                </li>

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Pricing</a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">About</a>-->
<!--                </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"-->
<!--                       aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Separated link</a>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
<!--            <form class="d-flex">-->
<!--                <input class="form-control me-sm-2" type="text" placeholder="Search">-->
<!--                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
        </div>
    </div>
</nav>

